@page "/"

<PageTitle>Get QNA</PageTitle>

@using TrimQnaMaker.Data
@inject QnAMakerService qnaService

<h1>Get QNA Questions</h1>



@if (qnaDocuments == null)
{
    <p><em>Sometimes take a while</em></p>
    <div class="form">

        <input type="text" @bind="_keys.endpoint" placeholder="Supported Cognitive Services endpoint" />

        <input type="text" @bind="_keys.subscriptionId" placeholder="Ocp-Apim-Subscription-Key" />

        <input type="text" @bind="_keys.kbid" placeholder="Knowledgebase id " />

        <input type="number" @bind="_keys.amount" placeholder="Amount of questions to filter" />


        <button disabled=@IsTaskRunning @onclick="() => Load()">
            Load Data
        </button>
    </div>


    
}
else
{
    

    if (qnaDocuments.Count != 0)
    {
        <p><em>First you have a list of answers, when you click on the View button  you will see at the end another table with the questions related to that answer and a button to delete each one.</em></p>
        <p><em>When you have finished, the save button will synchronise the questions with the knowledge base.</em></p>

        <div>
            <table>
                <tr>
                    <th>Question</th>
                    <th>Amount</th>
                    <th>Button</th>
                </tr>


                @foreach (var pair in qnaDocuments)
                {
                    <tr>
                        <td>@pair.Answer</td>
                        <td>@pair.Questions.Count</td>
                        <td><button @onclick="() => SeeQuestion(pair)">View</button></td>
                    </tr>
                }
            </table>
        </div>
        <br />
        <div>
        @if (questions != null)
        {
            <table title="Questions">
                <tr>
                    <td>@qnaDocuments[id].Answer</td>
                    <td>@qnaDocuments[id].Questions.Count</td>
                </tr>
                <tr>
                    <th>Response</th>
                    <th>Button</th>
                </tr>

                
                @foreach (var question in questions)
                {
                    <tr>
                    <td>@question</td>
                        <td><button @onclick="() => DeleteQuestion(question)">X</button></td>

                    </tr>

                }
           
            </table>
        }
        </div>
        <div>
            <br>
            <p><em>Click at the end</em></p>
            <button @onclick="() => Save()">Save</button>
        </div>
        <div>
            @if (@hasResult)
            {
                
                <p>OperationId: @result.OperationId</p>
                <p>OperationState: @result.OperationState</p>
            }
        </div>
    }
    else
    {
        <p><em>Mmm is empty , maybe there is not any or something went wrong</em></p>

    }

}

@code {
    private List<QnaDocumentMin>? qnaDocuments;
    private List<String>? questions;
    private int id;
    private bool IsTaskRunning = false;

    private JobResult? result;
    private bool hasResult;

    private KeysModel _keys;


    protected override async Task OnInitializedAsync()
    {
        _keys =  new KeysModel
        {
            endpoint = "https://westus.api.cognitive.microsoft.com",
            subscriptionId = "",
            kbid = "",
            amount = 300,
        };

    }


    async void Load()
    {

        if (!IsTaskRunning)
        {
            IsTaskRunning = true;
            StateHasChanged();

            if (_keys != null)
            {
                qnaDocuments = await qnaService.GetBadQna(_keys);
            }
        }


    }

    async void Save()
    {
        if (qnaDocuments != null)   {
            result = await qnaService.UpgradeKB(qnaDocuments, _keys);
            hasResult = true;
            StateHasChanged();
        }




    }

    void DeleteQuestion(string question)
    {
        if (qnaDocuments != null && questions != null)
        {
            
            
            if (qnaDocuments[id].QuestionToDelete == null)
                qnaDocuments[id].QuestionToDelete = new List<string>();
            if (qnaDocuments[id].QuestionToDelete.Count < 300)
            {
                questions.Remove(question);
                qnaDocuments[id].QuestionToDelete.Add(question);
                qnaDocuments[id].Questions = questions;
                qnaDocuments[id].hasChanged = true;
            }else{

            }
            
        }


    }
    void SeeQuestion(QnaDocumentMin pair)
    {
        if (qnaDocuments != null)
        {
            questions = pair.Questions;
            id = qnaDocuments.IndexOf(pair);
        }

    }
}